/ /*body {
  margin: 0px;
  background-color: rgb(255,200,180);
  width: 100%;
}
header {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(232,173,165,1) 44%, rgba(246,41,12,1) 49%, rgba(173,155,156,1) 53%, rgba(214,182,184,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(44%, rgba(232,173,165,1)), color-stop(49%, rgba(246,41,12,1)), color-stop(53%, rgba(173,155,156,1)), color-stop(100%, rgba(214,182,184,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(232,173,165,1) 44%, rgba(246,41,12,1) 49%, rgba(173,155,156,1) 53%, rgba(214,182,184,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(232,173,165,1) 44%, rgba(246,41,12,1) 49%, rgba(173,155,156,1) 53%, rgba(214,182,184,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(232,173,165,1) 44%, rgba(246,41,12,1) 49%, rgba(173,155,156,1) 53%, rgba(214,182,184,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(232,173,165,1) 44%, rgba(246,41,12,1) 49%, rgba(173,155,156,1) 53%, rgba(214,182,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6b6b8', GradientType=1 );
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1{
  margin-left: 200px;
  font-family: sans-serif;
}
.logo {
  height: 100px;
  padding-top: 20px;
  margin-left:10px;
}
.careto{
  display: flex;
  float: right;
  min-height: 150px;
  max-height: 150px;
}
.lin-rojo{
  height: 2px;
  background-color: red;
}
.lin-blan{
  height: 3px;
  background-color: grey;
}
.soy{
  position: absolute;
  margin-top: -200px;
}
.caja-careto{
  width: 100%;
}
.separacion-botones{
  display: flex;
  align-self: flex-start;
  width: 30%;
}
.botones{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
}
button{
  height: 30px;
  width: 110px;
  margin-top: 45px;
  background-color: red;
  color: white;
  border-radius: 9px;
  border-style: solid;
  align-items: center;
}
button:hover {
 background-color: rgb(255,100,100);
}
.pagina{
  background-image: url(../imagenes/graficostar.png);
  background-size: 20%;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  left: -80px;
  top:-150px;
}
.tapa{
  float: left;
  height:100px;
}
*/












header{
  display: flex;
  flex-direction: row;
  width: 40px;
}
.logo{
  width:30%;
}
.dis-locu{
  width: 50%;
}
.botones{
  display: flex;
}
